In [1]:
#RUN FOR GITHUB CODESPACE
import sys
import warnings

sys.path.append('..')
warnings.filterwarnings('ignore')

In [2]:
from database.db_operation import DbOperation

### Goldstandard Database Notebook

This notebook will demonstrate the usage of the Goldstandard database (GSDB). GSDB is composed of 3 tables with the following schema:

**Expression:**
- `id`
- `variation_id` 
- `profile_id`
- `description`
- `value`

**Profile:**
- `id`
- `name`
- `version`
- `description`

**Variation:**
- `id`
- `xref`
- `description`

**Note:** This database is in alpha stage and has the potential to change in schema and data.

### Example Database

**Note:** To facilitate user interaction without altering the original data, a view table called `CombineData` was created. This virtual table allows users to experiment and perform translations using combined data from the three primary tables, ensuring the integrity of the original tables remains intact. 

`CombineData` includes the following fields:
- `Profile.name`
- `Profile.version`
- `Variation.description`
- `Variation.xref`
- `Expression.value`

This table will be represented as a pandas DataFrame and will be used for various translations shown below.

#### Database Connection and DataFrame Operations

In [10]:
#Connect to gold standard database
db = DbOperation('../database/gsdb_v2.db')

In [11]:
#Convert database to pandas DataFrame
df = db.get_combined_in_df()

In [12]:
#A view of the database in a pandas DataFrame.
df.head()

,name,version,description,xref,value
0,cvc,0.1,Deletion,https://www.ncbi.nlm.nih.gov/clinvar/variation...,"{'origCoordSystem': '0-based interbase', 'seqT..."
1,spdi,0.1,Deletion,https://www.ncbi.nlm.nih.gov/clinvar/variation...,NC_000001.11:1014263:CC:C
2,hgvs,0.1,Deletion,https://www.ncbi.nlm.nih.gov/clinvar/variation...,NC_000001.11:g.1014265del
3,vrs,1.3,Deletion,https://www.ncbi.nlm.nih.gov/clinvar/variation...,{'_id': 'ga4gh:VA.BmF3zr2l6XLpLaK8GInM6Q3Emc3J...
4,cvc,0.1,Deletion,https://www.ncbi.nlm.nih.gov/clinvar/variation...,"{'origCoordSystem': '0-based interbase', 'seqT..."

In [13]:
#Capturing the cvc data in the DataFrame
cvc_data = db.extract_values(df,'cvc')[:3]
cvc_data

0    {'origCoordSystem': '0-based interbase', 'seqT...
4    {'origCoordSystem': '0-based interbase', 'seqT...
8    {'origCoordSystem': '0-based interbase', 'seqT...
Name: value, dtype: object

#### TODO: Get Value from Variation, profile, or expression table 
* The db_operation.py class provides various database operations including: update, delete, get, and (to be added) insert.
* Guidelines will be established to ensure the integrity of gold-standard tables. A subset of the data will be created to perform these various operations.

In [6]:
var_table = db.get_variation(id=4)
print('Variation Table')
var_table

Variation Table

(4, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/1344775/', 'Insertion')

prof_table = db.get_profile(id=4)
print('Profile Table')
prof_table

In [7]:
expr_table = db.get_expression(id=4)
print('Expression Table')
expr_table

Expression Table

(4,
 1,
 4,
 None,
 '{"_id": "ga4gh:VA.BmF3zr2l6XLpLaK8GInM6Q3Emc3JyPD3", "type": "Allele", "location": {"_id": "ga4gh:VSL.i6Of9s2jVDuJ4vwU6sCeG-jT7ygmlfx6", "type": "SequenceLocation", "sequence_id": "ga4gh:SQ.Ya6Rs7DHhDeg7YaOSg1EoNi3U_nQ9SvO", "interval": {"type": "SequenceInterval", "start": {"type": "Number", "value": 1014263}, "end": {"type": "Number", "value": 1014265}}}, "state": {"type": "LiteralSequenceExpression", "sequence": "C"}}')

In [8]:
# get all
var_all = db.get_all_variations()
print('Variation Table')
var_all

Variation Table

[(1, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/2085710/', 'Deletion'),
 (2, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/523496/', 'Deletion'),
 (3, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/1062882/', 'Deletion'),
 (4, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/1344775/', 'Insertion'),
 (5, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/930317/', 'Insertion'),
 (6, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/835613/', 'Substitution'),
 (7, 'https://www.ncbi.nlm.nih.gov/clinvar/variation/217604/', 'Substitution'),
 (8,
  'https://www.ncbi.nlm.nih.gov/clinvar/variation/931239/',
  'InsertionDeletion'),
 (9,
  'https://www.ncbi.nlm.nih.gov/clinvar/variation/931057/',
  'InsertionDeletion'),
 (10, 'https://www.ncbi.nlm.nih.gov/snp/rs1805044#hgvs_tab', 'Identity'),
 (11,
  'https://www.ncbi.nlm.nih.gov/clinvar/variation/1297092/',
  'Duplication'),
 (12,
  'https://github.com/ga4gh/vrs-python/blob/old-main/tests/extras/test_translator.py',
  'Single Nucleotide Variant'),
 (13,
  'https://www.ncbi.nlm.nih.gov/clinvar/variation/1373966/?new_evidence=true',
  'Deletion'),
 (14,
  'https://www.ncbi.nlm.nih.gov/clinvar/variation/1687427/?new_evidence=true',
  'Insertion'),
 (15,
  'https://www.ncbi.nlm.nih.gov/clinvar/variation/1264314/?new_evidence=true',
  'duplication'),
 (16,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L163',
  'Identity'),
 (17,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L181',
  'Substitution'),
 (18,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L199',
  'Deletion'),
 (19,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L217',
  'Insertion'),
 (20,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L235',
  'Duplication'),
 (21,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L253',
  'Duplication'),
 (22,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L271',
  'Substitution'),
 (23,
  'https://github.com/ga4gh/vrs-python/blob/fd759f9bd79c3d5fbd61b2343daec85744a3aa74/tests/extras/test_translator.py#L289',
  'Substitution')]